.jumbotron{
	text-align: center;
	background: url(https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7ef79a01f0a12450049b7d20cd10f93c&auto=format&fit=crop&w=967&q=80);
	background-position: center;
	background-size: cover;
}


.Btn-green{
	background-color: green;
	border-color: green;
}
.Btn-green:hover{
	background-color: #115711;
	border-color: #115711;
}